<a href="https://colab.research.google.com/github/Kousalya21/Python-Flask-HelloWorld/blob/master/Python_Programming_assgn1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
#1
def calculateInterest(p,t,r): 
    print('Principal amount is:', p) 
    print('Rate of interest is:',r) 
    print('No. of years:', t) 
         
    SI = (p * t * r)/100
      
    print('The Simple Interest is', SI) 
    return SI

In [9]:
calculateInterest(500, 9.00, 5)

The principal amount is: 500
The rate of interest is: 5
No. of years: 9.0
The Simple Interest is 225.0

225.0

In [34]:
#2
n = int(input("Enter n:"))
i = 0
for i in range(4):
    print(n*(i))

Enter n:5
0
5
10
15

In [35]:
#3
def leap(year):
    if (( year%400 == 0)or (( year%4 == 0 ) and ( year%100 != 0))):
        print("True")
    else:
        print("False")

In [36]:
leap(2000)

True

In [37]:
#4
def statement(bank):
    deposits = 0
    withdrawals = 0
    for transaction in bank:
        if transaction > 0:
            deposits += transaction
        else:
            withdrawals += transaction
    return[deposits, withdrawals]

In [38]:
statement([30.95, -15.67, 45.56, -55.00, 43.78])

[120.29, -70.67]

In [14]:
#5
x1 = int(input("Enter x1: "))
y1 = int(input("Enter y1: "))
x2 = int(input("Enter x2: "))
y2 = int(input("Enter y2: "))
x = int(input("Enter x: "))
y = int(input("Enter y: "))
if (x >= x1 and x <= x2) and (y >= y1 and y <= y2):
    print(True)
else:
    print(False)

Enter x1: 1
Enter y1: 3
Enter x2: 10
Enter y2: 6
Enter x: 4
Enter y: 2
False

In [15]:
#6
def password_check(newpassword, oldpassword):
  if len(newpassword) >= 6 and newpassword !=oldpassword:
    return True
  return False

In [16]:
password_check('E10sf', 'E10.s2ff')

False

In [18]:
password_check('Python', 'Kousalya')

True

In [20]:
#7
string1 = input("Enter string 1: ")
string2 = input("Enter string 2: ")
string3 = input("Enter string 3: ")
oneandtwo = string1 + string2
if oneandtwo == string3:
  print("They are equal")
else:
  print("They are not equal")

Enter string 1: ko
Enter string 2: ko
Enter string 3: koko
They are equal

In [22]:
#8
def interest(interest_rate):
  investment_amount = 100.00 
  target_amount = 2 * investment_amount
  years = 0
  while investment_amount < target_amount:
    investment_amount += (investment_amount * interest_rate)
    years += 1
  return years

In [23]:
interest(0.07)

11

In [27]:
#9
def approxPIsquared(error):
  prev = 0
  curr = 8
  denominator = 1
  while (curr - prev) > error:
    prev = curr
    denominator += 2
    curr = curr + (8 / (denominator ** 2))
  return curr

In [28]:
 approxPIsquared(0.0001)

9.855519952254232

In [29]:
approxPIsquared(0.00000001)

9.869462988376474

In [32]:
#10
import math
x = float(input("Enter x: "))
y = float(input("Enter y: "))
distance = math.sqrt(x ** 2 + y ** 2)
if distance <= 8:
  print("It is in !!!!!")
else:
  print("It is out !!!!")

Enter x: 5
Enter y: 2.5
It is in !!!!!